{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1>Добро пожаловать!</h1>
    <p>Здесь Вы можете купить и продать!</p>
</div>

<div class="container">
    <div class="row"> 

        <div class="col-sm-3">
            <h3>Реклама </h3>
            <p>Здесь можт быть ваша реклама...</p>
            <p>И описание вашего продукта ил услуги...</p>
        </div>

        <div class="col-sm-3">
            <h3>Контен 2</h3>
            <p>Тут должен быть полезный контент...</p>
            <p>или реклама)...</p>
        </div>

        <div class="col-sm-3">
            <h3>Новости</h3>        
            <p>тут можно разместить новости...</p>
            <p>и краткое описание новостей...</p>
        </div>

        <div class="col-sm-3">
            <h3>Реклама</h3>        
            <p>и опять реклама...</p>
            <p>или не только реклама...</p>
        </div>
    </div>

</div>

{% endblock %}